//
   Created by glendex on 4/13/16.

extends layout

block content

    h1 Welcome to the password protected page!

    p Hello!

        //If user authenticated locally...
        if user.local.username
            p Your username is #{user.local.username}

        //If user authenticated via Twitter
        if user.twitter.displayName
            p Your Twitter display name is #{user.twitter.displayName }

        p You signed up on #{user.signUpDate)

        if updateMessage.length > 0
            p=updateMessage

        if user.favoriteColor
            p Your favorite color is #{user.favoriteColor}

        if user.luckyNumber
            p Your favorite color is #{user.luckyNumber}